<h1>Board List Page</h1>
<div class="row"B>	
	<div class="col-xs-3 panel panel-default" ng-repeat="board in boards">
		<div class="panel-heading" ng-cloak>
			<a ng-href="#!/board/view/{{board.id}}">{{board.title}}</a>

			<button class="btn btn-danger pull-right fa fa-trash-o" ng-click="deleteBoard(board.id)"></button>
			
			<button class="btn btn-info pull-right"><a class="fa fa-pencil-square-o pull-right" ng-href="#!/board/edit/{{board.id}}"></a></button>
		</div> <!-- .panel-heading -->

		<div class="panel-body">
			{{board.description}}
			<!-- Created: {{board:timestamp}} -->
		</div> <!-- .panel-body -->
	</div> <!-- ng-repeat -->
</div> <!-- .row -->



