<h1>Board List Page</h1>
<div class="row boardListPage">	
	<div class="col-sm-6 col-md-3 panel panel-default" ng-repeat="board in boards" ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()">

		<div class="panel-body">
			<div class="thumbnail col-xs-4" ng-repeat="pin in pins | filter: board.id ">
				 <img src="{{pin.imageURL}}">
			</div> <!-- pins on board .div -->

			<div class="boardTitle">
				<h3><a ng-href="#!/board/view/{{board.id}}">{{board.title}}</a></h3>

				<button ng-show="hoverOver" class="btn btn-danger btn-xs pull-right fa fa-trash-o" ng-click="deleteBoard(board.id)"></button>
						
				<button ng-show="hoverOver" class="btn btn-default btn-xs pull-right"><a class="fa fa-pencil-square-o pull-right" ng-href="#!/board/edit/{{board.id}}"></a></button>

			</div>

			<div class="boardDesc">{{board.description}}
			</div>
							 
			
		</div> <!-- .panel-body -->
	</div> <!-- ng-repeat -->
</div> <!-- .row -->



