<h1>Board List Page</h1>
<div class="row boardListPage">	
	<div class="col-xs-3 panel panel-default" ng-repeat="board in boards" ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()">
		<!-- <div class="panel-heading" ng-cloak> -->
			<!-- <a ng-href="#!/board/view/{{board.id}}">{{board.title}}</a>

			<button ng-show="hoverOver" class="btn btn-danger btn-xs pull-right fa fa-trash-o" ng-click="deleteBoard(board.id)"></button>
			
			<button ng-show="hoverOver" class="btn btn-default btn-xs pull-right"><a class="fa fa-pencil-square-o pull-right" ng-href="#!/board/edit/{{board.id}}"></a></button> -->

		<!-- </div>  .panel-heading -->

		<div class="panel-body">
			<!-- <div>{{board.description}}</div> -->
<!-- <div ng-repeat="user in users | filter:{'id':  1}:true"> -->
<!-- https://stackoverflow.com/questions/20292638/angular-filter-exactly-on-object-key -->
<!-- <div class="thumbnail col-xs-4" ng-repeat="pin in pins | filter:{'pin.boardid':'board.id'}:true"> -->
			<div class="thumbnail col-xs-4" ng-repeat="pin in pins | filter: {boardid} ">
				 <img src="{{pins[$index].imageURL}}">
			</div> <!-- pins on board .div -->

			<div class="boardTitle">
				<h3><a ng-href="#!/board/view/{{board.id}}">{{board.title}}</a></h3>

				<button ng-show="hoverOver" class="btn btn-danger btn-xs pull-right fa fa-trash-o" ng-click="deleteBoard(board.id)"></button>
						
				<button ng-show="hoverOver" class="btn btn-default btn-xs pull-right"><a class="fa fa-pencil-square-o pull-right" ng-href="#!/board/edit/{{board.id}}"></a></button>

			</div>

			<div class="boardDesc">{{board.description}}
			</div>
							 
			
		</div> <!-- .panel-body -->
	</div> <!-- ng-repeat -->
</div> <!-- .row -->



