<img src="{{selectedPin.imageURL}}">
<h1><a ng-href="{{selectedPin.url}}">{{selectedPin.title}}</a></h1>
<div>
    <p>{{selectedPin.description}}</p>
</div>
<button ng-click="pinToBoard()">Pin it!</button>
<div ng-show="pinIt">
	<h3>Pick a board for your pin!</h3>
	<div ng-repeat="board in userBoards" class="radio">
		<label  class="radio-inline">
		  <input type="radio" name="whichBoard" ng-model="$parent.boardValue" value="{{board.id}}"> {{board.title}}
		</label>
	</div>
	<button ng-click="addToBoard(boardValue)">Add Pin</button>
</div>