<form class="col-xs-8 col-xs-offset-2">
    <div class="form-group">
        <label>Enter the link for your pin:</label>
        <input type="text" class="form-control" ng-model="newPin.URL" placeholder="www...">
    </div>
    <div class="form-group">
        <label>Enter the URL for your pin image:</label>
        <input type="text" class="form-control" ng-model="newPin.imageURL" placeholder="thousand words, one pic...">
    </div>
    <div class="form-group">
        <label>Title:</label>
        <input type="text" class="form-control" ng-model="newPin.title" placeholder="make it eye-catching...">
    </div>
    <div class="form-group">
        <label>Description</label>
        <input type="text" class="form-control" ng-model="newPin.description" placeholder="What's it all about?">
    </div>
    <button class="btn btn-default pinBtn" ng-click="addNewPin(newPin.id)">Create Pin</button>
</form>
