<!-- <div ng-repeat="pin in pins" ng-if="$index % 4 === 0" class="row">
  <div class="col-sm-6 col-md-3" ng-click="viewPin({{pins[index].id}})">
   <a ng-href="#!/pins/view/{{pin.id}}" -->
    <!-- <div class="thumbnail">
      <img src="{{pins[$index].imageURL}}">
      <div class="caption">
        <h3><a ng-href="{{pins[$index].URL}}">{{pins[$index].title}}</a></h3>
        <p>{{pins[$index].description}}</p>
        <p><button ng-click="pinToBoard(pinId)" class="btn btn-default">Pin It!</button></p>

      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="{{pins[$index+1].imageURL}}">
      <div class="caption">
        <h3><a ng-href="{{pins[$index+1].URL}}">{{pins[$index+1].title}}</a></h3>
        <p>{{pins[$index+1].description}}</p>
        <p><button ng-click="pinToBoard(pinId)" class="btn btn-default">Pin It!</button></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="{{pins[$index+2].imageURL}}">
      <div class="caption">
        <h3><a ng-href="{{pins[$index2].URL}}">{{pins[$index+2].title}}</a></h3>
        <p>{{pins[$index+2].description}}</p>
        <p><button ng-click="pinToBoard(pinId)" class="btn btn-default">Pin It!</button></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="{{pins[$index+3].imageURL}}">
      <div class="caption">
        <h3><a ng-href="{{pins[$index+3].URL}}">{{pins[$index+3].title}}</a></h3>
        <p>{{pins[$index+3].description}}</p>
        <p><button ng-click="pinToBoard(pinId)" class="btn btn-default">Pin It!</button></p>
      </div>
    </div>
  </div>
</div> -->

<div ng-repeat="pin in pins">
  <div class="col-sm-6 col-md-3" ng-click="viewPin(pin.id)">
<!--    <a ng-href="#!/pins/view/{{pin.id}}" -->
   <div class="thumbnail">
      <img src="{{pin.imageURL}}">
      <div class="caption">
        <h3><a ng-href="{{pin.URL}}">{{pin.title}}</a></h3>
        <p>{{pin.description}}</p>
        <p><button ng-click="pinToBoard(pinId)" class="btn btn-default">Pin It!</button></p>

      </div>
    </div>
  </div>
  </div>